/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
/* line 6, ../src/colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 7, ../src/colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 8, ../src/colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

/* line 9, ../src/colorbox.scss */
#cboxContent {
  position: relative;
}

/* line 10, ../src/colorbox.scss */
#cboxLoadedContent {
  overflow: auto;
}

/* line 11, ../src/colorbox.scss */
#cboxLoadedContent iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 12, ../src/colorbox.scss */
#cboxTitle {
  margin: 0;
}

/* line 13, ../src/colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 14, ../src/colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
/* line 21, ../src/colorbox.scss */
#cboxOverlay {
  background: #000;
}

/* line 24, ../src/colorbox.scss */
#cboxContent {
  margin-top: 20px;
}

/* line 25, ../src/colorbox.scss */
#cboxLoadedContent {
  background: #000;
  padding: 5px;
}

/* line 26, ../src/colorbox.scss */
#cboxTitle {
  position: absolute;
  top: -20px;
  left: 0;
  color: #ccc;
}

/* line 27, ../src/colorbox.scss */
#cboxCurrent {
  position: absolute;
  top: -20px;
  right: 0px;
  color: #ccc;
}

/* line 28, ../src/colorbox.scss */
#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #fff;
}

/* line 29, ../src/colorbox.scss */
#cboxPrevious {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -32px;
  background: url(/images/colorbox/controls.png) no-repeat top left;
  width: 28px;
  height: 65px;
  text-indent: -9999px;
}

/* line 30, ../src/colorbox.scss */
#cboxPrevious.hover {
  background-position: bottom left;
}

/* line 31, ../src/colorbox.scss */
#cboxNext {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -32px;
  background: url(/images/colorbox/controls.png) no-repeat top right;
  width: 28px;
  height: 65px;
  text-indent: -9999px;
}

/* line 32, ../src/colorbox.scss */
#cboxNext.hover {
  background-position: bottom right;
}

/* line 33, ../src/colorbox.scss */
#cboxLoadingOverlay {
  background: #000;
}

/* line 34, ../src/colorbox.scss */
#cboxLoadingGraphic {
  background: url(/images/colorbox/loading.gif) no-repeat center center;
}

/* line 35, ../src/colorbox.scss */
#cboxClose {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  background: url(/images/colorbox/controls.png) no-repeat top center;
  width: 38px;
  height: 19px;
  text-indent: -9999px;
}

/* line 36, ../src/colorbox.scss */
#cboxClose.hover {
  background-position: bottom center;
}
