// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 10;
$blueprint-grid-margin: 10px;
$blueprint-container-size: 950px;
$left_col: 1.75;
$right_col: 2;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

//colors
// old $blue: #0055a5;
$blue: #0068b3;
$lblue: #71cef5;
$dblue: #739dd3;
$dark: #313131;
$lbrown: #9d8d85;
$dbrown: #3e3e29;
$green: #8dc63f;
$lgreen: #c1d72e;
$yellow: #e8d766;

//defaults
$header-color: $dbrown;
$link-color: $dblue;
