/* line 4, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* ----------------------------  NAVIGATION (HORIZONTAL)  Custom PrintSouth, INc. ---------------------------  */
/* line 3, ../src/partials/_menu.scss */
nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  background: #ccc;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html nav {
  overflow-x: hidden;
}
/* line 6, ../src/partials/_menu.scss */
nav ul.nav {
  color: white;
  font-size: 17px;
  line-height: 43px;
  list-style: none outside none;
  padding: 0 12px;
  text-decoration: none;
  z-index: 5000;
  padding: 0;
  margin: 0;
}
/* line 17, ../src/partials/_menu.scss */
nav ul.nav li {
  list-style: none;
  padding: 0;
}
/* line 23, ../src/partials/_menu.scss */
nav ul.nav a {
  display: block;
  padding: 0px 17px;
  color: blue;
  text-decoration: none;
  background-color: red;
  font-size: 13px;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  text-transform: uppercase;
}
/* line 33, ../src/partials/_menu.scss */
nav ul.nav a.subsActive, nav ul.nav a:hover {
  color: #ccc;
}
/* line 36, ../src/partials/_menu.scss */
nav ul.nav a:active, nav ul.nav .active a {
  color: blue;
}
/* line 40, ../src/partials/_menu.scss */
nav ul.nav li {
  float: left;
  position: relative;
  /*line-height: 100%;*/
}
/* line 45, ../src/partials/_menu.scss */
nav ul.nav ul {
  position: absolute;
  display: none;
  top: 43px;
  padding: 0px 0;
  width: 200px;
  /*line-height: 100%; */
}
/* line 53, ../src/partials/_menu.scss */
nav ul.nav ul li.active {
  height: auto;
  background-image: none;
}
/* line 54, ../src/partials/_menu.scss */
nav ul.nav ul li {
  display: inline;
  /*line-height: 100%; */
}
/* line 58, ../src/partials/_menu.scss */
nav ul.nav li ul li a {
  padding: 0px 18px;
  float: left;
  font-size: .675em;
  line-height: 26px;
  color: #3f7cba;
  width: 157px;
  background: #000;
  text-transform: none;
  border-bottom: #ccc dotted 1px;
}
/* line 69, ../src/partials/_menu.scss */
nav ul.nav li ul li a span {
  border-bottom: dotted 1px #666;
}
/* line 72, ../src/partials/_menu.scss */
nav ul.nav li ul li a:hover {
  color: #666;
}
/* line 75, ../src/partials/_menu.scss */
nav ul.nav ul ul {
  top: auto;
}
/* line 78, ../src/partials/_menu.scss */
nav ul.nav li ul ul {
  left: 8em;
  margin: 0px 0 0 10px;
}
/* line 82, ../src/partials/_menu.scss */
nav ul.nav li:hover ul ul, nav ul.nav li:hover ul ul ul, nav ul.nav li:hover ul ul ul ul {
  display: none;
}
/* line 85, ../src/partials/_menu.scss */
nav ul.nav li:hover ul, nav ul.nav li li:hover ul, nav ul.nav li li li:hover ul, nav ul.nav li li li li:hover ul {
  display: block;
}

/* line 7, ../src/screen.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 65, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 67, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 21, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 24, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 27, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 78, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 80, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 81, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 83, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 86, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 89, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 91, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 92, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 94, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 95, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 97, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 98, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 101, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 102, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 103, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 9, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background: url('/images/grid.png?1307126780');
}
/* line 4, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 10, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 12, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 14, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 20, ../src/screen.scss */
body {
  background: #ccc;
}

/* line 25, ../src/screen.scss */
div {
  background: #ebebeb;
}

/* line 28, ../src/screen.scss */
#container {
  background: #fff;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 32, ../src/screen.scss */
header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header {
  overflow-x: hidden;
}
/* line 34, ../src/screen.scss */
header .logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 182px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header .logo {
  overflow-x: hidden;
}
/* line 37, ../src/screen.scss */
header .calltoaction {
  display: inline;
  float: left;
  margin-right: 0;
  width: 758px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header .calltoaction {
  overflow-x: hidden;
}

/* line 41, ../src/screen.scss */
#slider {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #slider {
  overflow-x: hidden;
}

/* line 45, ../src/screen.scss */
#events {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #events {
  overflow-x: hidden;
}

/* line 48, ../src/screen.scss */
.module {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .module {
  overflow-x: hidden;
}

/* line 51, ../src/screen.scss */
.last {
  margin-right: 0;
}

/* line 54, ../src/screen.scss */
.platform {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .platform {
  overflow-x: hidden;
}

/* line 58, ../src/screen.scss */
.left_columns {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .left_columns {
  overflow-x: hidden;
}
/* line 60, ../src/screen.scss */
.left_columns .column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 107.12px;
}
/* line 138, ../../../../../../../Users/jess/.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .left_columns .column {
  overflow-x: hidden;
}
