$field_width: 325px;
$button_color: $blue;
.contact_form {
  .email-return {
    @include success;
  }
  //width: 435px;
  //margin: 50px auto;
  //margin-top: 25px;
  fieldset {
    @include clearfix;
    border: none;
  }
  label {
    display: block;
    clear: both;
    float: left;
    width: 115px;
    padding: 6px;
    font-weight: bold;
  }
  td {
    vertical-align: top;
    text-align: right;
  }
  input, textarea, select {
    padding: 5px;
    width: $field_width;
    @include border-radius(5px);
    border: 1px solid #ccc;
    margin: 5px;
    float: right;
  }
  select {
    font-size: 1.4em;
    width: $field_width + 12px;
  }
  .website {
    display:none;
  }
  #submit_button {
    width: 100px;
    color: white;
    background: lighten($button_color, 10%);
    padding: 12px;
    @include box-shadow;
    margin: 5px 5px;
    clear: both;
  }
  label.error {
    float:right;
    font-size:80%;
    font-style:italic;
    width: 330px;
    }
  
}
