$menu_padding: 47px;

#menu {
  @include border-radius(5px);
  @include column(10,true);
  background: $blue;
  list-style: none;
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  background-color: $blue;
  margin: 15px auto;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    content: "";
    display: table;
  }
  zoom: 1;
  li {
    border-right: 1px solid #DDD;
    float: left;
    position: relative;
    &:last-child {
      border:none;
    }
  }
  a {
    color: #FFF;
    float: left;
    padding: 10px 47px;
    text-decoration: none;
    text-transform: uppercase;
  }
  li:hover > a {
    color: #333;
  }
}

#menu {
  ul {
    @include border-radius(5px);
    _margin: 0; /*IE6 only*/
    background: $blue;
    left: 0;
    margin: 20px 0 0 0;
    opacity: 0;
    position: absolute;
    top: 38px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    visibility: hidden;
    z-index: 1;
    z-index: 9999;
  }
  li:hover > ul {
    margin: 0;
    opacity: 1;
    visibility: visible;
  }
  ul {
    ul {
      _margin: 0;
      left: 150px;
      margin: 0 0 0 20px;
      top: 0;
    }
    li {
      _line-height: 0;
      border: 1px solid #CCC;
      display: block;
      float: none;
    }
    a {
      _height: 10px; /*IE6 only*/
      display: block;
      float: none;
      padding: 10px;
      text-transform: none;
      white-space: nowrap;
      width: 165px;
      &:hover {
        background-color: #EDEDED;
      }
    }
    li:first-child > a {
      @include border-radius(5px);
      &:after {
        border-bottom: 6px solid #CCC;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: '';
        left: 40px;
        position: absolute;
        top: -6px;
      }
    }
    ul li:first-child a:after {
      left: -6px;
      top: 50%;
      margin-top: -6px;
      border-left: 0;
      border-bottom: 6px solid transparent;
      border-top: 6px solid transparent;
      border-right: 6px solid #CCC;
    }
    li:first-child a:hover:after {
      border-bottom-color: #FFF;
    }
    ul li:first-child a:hover:after {
      border-right-color: #CCC;
      border-bottom-color: transparent;
    }
    li:last-child > a {
      @include border-radius(5px);
    }
  }
}

/* Mobile */
#menu-trigger {
  display: none;
}

@media screen and (max-width: 600px) {
  /* nav-wrap */
  #menu-wrap {
    position: relative;
    * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  /* menu icon */
  #menu-trigger {
    display: block;
    /* show menu icon */
    @include border-radius(5px);
    background-color: $blue;
    border: 1px solid #CCC;
    color: #fafafa;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 35px;
  }
  /* main nav */
  #menu {
    background-color: $blue;
    display: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 10;
    &:after {
      border-right: 8px solid transparent;
      border-bottom: 8px solid #CCC;
      border-left: 8px solid transparent;
      content: '';
      left: 25px;
      position: absolute;
      top: -8px;
    }
    ul {
      background: none;
      margin: 0;
      opacity: 1;
      position: static;
      visibility: visible;
      ul {
        margin: 0 0 0 20px !important;
      }
    }
    li {
      border: 0;
      display: block;
      float: none;
      margin: 5px;
      position: static;
    }
    ul li {
      margin-left: 20px;
    }
    a {
      color: #FFF;
      display: block;
      float: none;
      padding: 0;
      &:hover {
        color: #333;
      }
    }
    ul {
      a {
        padding: 0;
        width: auto;
        &:hover {
          background: none;
        }
      }
      li:first-child a:after, ul li:first-child a:after {
        border: 0;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  #menu {
    display: block !important;
  }
}

/* -- iPad -- */
.no-transition {
  display: none;
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  visibility: visible;
}
#menu li:hover > .no-transition {
  display: block;
}
