// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "compass";
@import "compass/css3/images";
@import "compass/layout/sticky-footer";
@import "partials/menu";
@include sticky-footer(250px, "#root", "#root_footer", "footer");
body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form; }

html {
  //@include background-image(linear-gradient($blue, #fff));
  //background: $blue;
  height: 100%;
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
  //background:$blue;
  background: url('/images/layout/pagebk.jpg') repeat-x top;
}

#wrapper {
  @include clearfix;
}
#container {
  background: #fff;
  @include container;
  @include border-radius(10px);
  padding:10px;
  margin-top: 20px;
}
header {
  @include column(10,true);
  .logo {
    @include column(3);
  }
  .calltoaction {
    @include column(7,true);
    text-align: center;
  }
}
#slider {
  @include column(7.5);
  
}
#slider_events {
  @include clearfix;
  padding: 15px 0;
  clear: both;
}

#events {
  @include column(2.5, true);
  h2 {
    margin-bottom: 0px;
  }
  .event {
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    margin: 5px 0;
  }
}
.modules {
  margin: 25px 0;
}
.module {
  @include column(2.5);
  @include border;
}
.last {
  @include last;
  border: none;
}
.first {
  margin-left: 10px;
}
#platform_industry {
  clear: both;
  .platform {
    @include column(5);
    height: 200px;
    background: #ebebeb;
    
  }
  .last {
    @include last;
  }
}



//footer

footer {
  clear: both;
  //margin-top: 25px;
  color: #fff;
  //background: lighten($dark, 10%);
  a, p, li, h2, h1, h3, h4 {
    color: #fff;
  }
  .footer-outer {
    background: $dark;
    height: 100%;
    border-top: 2px solid $blue;
  }
  .footer-inner {
    @include container;
    padding: 15px 0;
    margin-top: 15px;
  }
  .left_columns {
    @include column(6.5);
    .column {
      ul.menu_footer {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        a {
          border-bottom: 1px dotted #ccc;
          text-decoration: none;
          display: block;
          padding: 3px 0;
        }
      }
      @include column(1.6);
    }
  }
  .mission {
    @include column(3.5,true);
  }
  .copyright {
    clear: both;
    background: #000;
    text-align: center;
    padding: 10px;
    color: lighten($dark, 10%);
  }
}

