// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "blueprint";
@import "compass";
@import "compass/css3/images";
@import "compass/layout/sticky-footer";
@import "partials/base";
@import "partials/html5";
@import "partials/menu";
@import "partials/contact_form";
@import "fancy-buttons";
//@import "compass/helpers";
//@import "icons/*.png";
//@include all-icon-sprites;


//----------------------------------------------------------------------------------------------------------
//  Mixins
//----------------------------------------------------------------------------------------------------------
//$icons: sprite-map("icons/*.png");
@mixin ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin icons($name) {
  background-image: url("/images/icons/"+$name+".png");
  background-position: 640px 8px;
  background-position-x: 640px;
  background-position-y: 8px;
  background-repeat: no-repeat;
}

@mixin column_with_padding($n,$padding,$border) {
  $width: span($n);
  @include column($n);
  width: $width - ($padding*2) - ($border*2);
  padding: $padding;
  //border: $border #ccc solid;
}

//----------------------------------------------------------------------------------------------------------
//  MAIN LAYOUT
//----------------------------------------------------------------------------------------------------------

@include sticky-footer(300px, "#root", "#root_footer", "footer");
body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}


html {
  //@include background-image(linear-gradient($blue, #fff));
  //background: $blue;
  height: 100%;
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
  //background:lighten($lblue,10%);
  //background: url('/images/layout/pagebk.jpg') repeat-x top;
  background: #D1DBE6 url('/images/layout/pagebk.jpg') repeat-x top;
}

#wrapper {
  @include clearfix;
}
#container {
  background: #fff;
  @include container;
  @include border-radius(10px);
  padding:10px;
  margin-top: 20px;
}
header {
  @include column(10,true);
  .logo {
    @include column(3);
    img {
      height: 65px;
      margin-top: 15px;
    }
  }
  .calltoaction {
    @include column(7,true);
    text-align: center;
    img {
      margin-top: 54px;
      float: right;
    }
  }
}
#slider {
  @include column(7.5);
  
}
#slider_events {
  @include clearfix;
  padding: 15px 0;
  clear: both;
  img {
    border: 1px solid #ccc;
    padding: 4px;
    background: #ebebeb;
    width: 710px - (1 + 4)*2px;
    height: 250px - (1 + 4)*2px;
  }
}
#main {
  clear: both;
}
#break {
  background: url('/images/layout/hozbar.jpg') top center no-repeat;
  //background: $lblue;
  height: 10px;
  @include column(10);
  //display: none;
}
#events {
  @include column(2.5, true);
  h2 {
    margin-bottom: 0px;
  }
  p {
    line-height: 16px;
    margin-bottom: 1em;
  }
}
#modules {
  margin: 25px 0;
  @include clearfix;
}

.module {
  //@include column(2.5);
  @include border;
  h2 a { 
    color: $dbrown; 
    text-decoration: none;
  }
  @include column_with_padding(2.5,10px,1px);
  min-height: 350px;
  .event {
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;
    margin: 5px 0;
  }
}
.last {
  @include last;
  border: none;
}
.first {
  margin-left: 10px;
}
#platform_industry {
  clear: both;
  .platform {
    @include column(5);
    .platform-inner {
      height: 270px;
      //background: lighten($yellow,30%);
      //border: 1px solid $yellow;
      background: rgba(lighten($lblue,20%), .4);
      border: 1px solid $dblue;
      padding: 12px;
      @include border-radius(5px);
    }
    .claw {
      background: rgba(lighten($lblue,20%), .4) url('/images/layout/claw.png') no-repeat 366px 173px;
    }
  }
  .last {
    @include last;
  }
}



//footer

footer {
  clear: both;
  //margin-top: 25px;
  color: #fff;
  //background: lighten($dark, 10%);
  a, p, li, h2, h1, h3, h4, a:link, a:visited {
    color: #fff;
  }
  .footer-outer {
    background: $dark;
    height: 100%;
    border-top: 2px solid $blue;
    margin-top: 20px;
  }
  .footer-inner {
    @include container;
    padding: 15px 0;
    margin-top: 15px;
  }
  .left_columns {
    @include column(6.5);
    .column {
      ul.menu_footer {
        @include ul;
        a {
          border-bottom: 1px dotted #ccc;
          text-decoration: none;
          display: block;
          padding: 3px 0;
        }
      }
      @include column(1.5);
    }
  }
  .mission {
    @include column(3.5,true);
  }
  .copyright {
    clear: both;
    background: #000;
    text-align: center;
    padding: 10px;
    color: lighten($dark, 10%);
  }
}




//----------------------------------------------------------------------------------------------------------
//  SECONDARY PAGES LAYOUT
//----------------------------------------------------------------------------------------------------------

$left_col: 1.75;
$right_col: 2;
.left_col {
  @include column($left_col);
  margin-top:15px;
}

.top_image {
  @include column(10 - $left_col,true);
  margin-top: 15px;
  margin-bottom: 15px;
}

.content {
  margin-top: 15px;
  @include column(10 - $left_col - $right_col);
}

.right_col {
  margin-top: 15px;
  @include column($right_col,true);
  
}

.full_col {
  margin: 20px auto;
  width: 700px;
  @include clearfix;
  padding-top: 25px;
}

//----------------------------------------------------------------------------------------------------------
//  Html Changes
//----------------------------------------------------------------------------------------------------------
body {
  h1 {
    font-size: 2.5em;
  }
}



//----------------------------------------------------------------------------------------------------------
//  ELEMENT STYLES
//----------------------------------------------------------------------------------------------------------

.content {
  h2 {
    border-bottom: 1px solid #ccc;
    a {
      text-decoration: none;
    }
  }
  h3 a, h4 a {
    text-decoration: none;
  }
}

.blockquote {
  padding: 5px 25px;
}

.main_image {
  padding: 5px;
  background: #ebebeb;
  border: 1px solid #ccc;
  width: 588px;
}

.lgray {
  background-color: #ebebeb;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

//local links
.acc_text {
  display: none;
  background: #ebebeb;
  border: 1px solid #ccc;
  padding: 5px;
}
ul.acc_text {
  margin-bottom: 0;
  padding-left: 30px;
}


//pager
#pager {
  padding-top: 25px;
  border-bottom: 2px $lblue solid;
  @include clearfix;
  a {
    display: block;
    float: left;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
    margin: 5px;
    color: #fff;
    background: $blue;
    &.activeSlide {
      background: $lblue;
    }
  }
}

.customer_benefits, .white_pages {
  padding: 12px;
  h3 a {
    text-decoration: none;
  }
  ul {
    @include ul;
    li {
      padding: 5px;
      border-bottom: 1px dotted #ccc;
    }
  }
}

.white_pages p {
  padding-left: 5px;
  font-size: 90%;
  font-style: italic;
}
  

.customer_benefits_list {
  li {
    margin-bottom: 5px;
  }
}

//left column
.left_col {
  .menu {
    ul {
      @include ul;
      ul a {
        padding-left: 15px;
        font-weight: normal;
      }
      ul ul a {
        padding-left: 30px;
        font-weight: normal;
      }
    }
    a {
      background: #ebebeb;
      display: block;
      padding: 5px 8px;
      border-bottom: 1px dotted #fff;
      text-decoration: none;
      color: $blue;
      font-weight: bold;
    }
    h3 {
      background: $dark;
      padding: 6px 0 8px 15px;
      color: #fff;
      @include border-top-radius(8px);
      border: lighten($dark,5%) 1px solid;
      margin: 0;
    }
  }
}


.email {
  @include icons('email');
}

.phone {
  @include icons('phone');
}
.address {
  @include icons('address');
}

.thumb_right {
  float: right;
  text-align: center;
  width: 250px;
  margin-left: 20px;
  font-style: italic;
  font-size: 90%;
}
.half_cols {
  @include clearfix;
  .half_col {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
}

//partners
.partners {
  @include clearfix;
  margin-bottom: 20px;
  ul {
    @include ul;
    li {
      width: 45%;
      margin-left: 4%;
      float: left;
      display: block;
      font-weight: bold;
      text-align: center;
      margin-top: 25px;
      border: 1px solid #ebebeb;
      min-height: 185px;
      img {
        width: 175px;
        clear: both;
        margin-top: 10px;
      }
    }
  }
}

.events {
  li {
    clear: both;
    @include clearfix;
    margin-top: 20px;
    border-bottom: dotted $lblue 1px;
    padding: 15px;
    span {
      position: relative;
      top: -10px;
      left: -10px;
      background: $blue;
      color: #fff;
      padding: 4px;
      @include border-radius(5px);
      border: 1px solid $blue;
    }
  }
  img {
    float: right; 
    margin-left: 10px;
  }
}

.payer {
  @include clearfix;
  clear: both;
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
}


.management_team {
  padding-left: 15px;
}

.case_studies {
  img {
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
    margin-left: 25px;
  }
}

.side_slider {
  a {
    text-decoration: none;
  }
  margin-bottom: 0;
  font-size: 1.4em;
}
.action {
  border-top: 1px solid #666;
  margin-top: 25px;
  padding-top: 15px;
  text-align: center;
  img {
    border: 1px solid $dark;
    width: 156px;
  }
  h4 {
    color: $blue;
    font-size: 1.3em;
  }
}
.fancy {
  text-align: center;
  @include fancy-button(#ccc, 14px, 5px, 1px);
}
.fancy-blue {
  text-align: center;
  @include fancy-button($green, 15px, 5px, 1px);
  width: 175px;
  padding: 10px;
}



.products {
  h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
  }
  .method {
    float: right;
    margin-left: 15px;
  }
  .healthcare_payer {
    li { 
      display: block;
      float: left;
      width: 36%;
      //clear: left;
      margin: 5px 0;
      a {
        text-decoration: none;
        font-size: 14px;
      }
      img {
        float: left;
        //clear: left;
        margin-right: 15px;
      }
    
    }
    h4 {
      clear: left;
      a {
        display: block;
        border-bottom: 1px solid $lblue;
        width: 80%;
        padding-bottom: 5px;
      }
      span {
        background: $blue;
         //border: 1px solid $lblue;
         @include border-top-left-radius(10px);
         @include border-top-right-radius(10px);
         color: #fff;
         padding: 5px 15px;
      }
    }
  }
}

.spacer {
  padding: 5px;
  clear: both;
}

.talon_key {
  float: right;
  width: 150px;
}

.customer_benefits_micro {
  float: right;
  width: 210px;
  font-size: .875em;
  font-style: italic;
}
